
<ion-header [elasticHeader]="ioncontentID">

  <ion-navbar>
      <button ion-button  menuToggle   >            
          <ion-icon name="menu" ></ion-icon>
        </button>
    <ion-title>Docente</ion-title>
    <ion-buttons end>   
        <button ion-button icon-only (click)="presentPopover($event)">
            <ion-icon name="add"></ion-icon>
          </button>    
          <button ion-button icon-only (click)="presentPopover($event)">
              <ion-icon name="search"></ion-icon>
            </button>       
        <button ion-button icon-only (click)="presentPopover($event)">
          <ion-icon name="more"></ion-icon>
        </button>      
      </ion-buttons>
      
  </ion-navbar>

</ion-header>


<ion-content padding fullscreen #ioncontentID> 


    <ion-segment [(ngModel)]="segmentDocente" color="primary" (ionChange)="segmentChanged($event)">
         
        <ion-segment-button value="asignaturas">
          Asignaturas
        </ion-segment-button>
        <ion-segment-button value="notas">
          Notas
        </ion-segment-button>
      </ion-segment>
    
                <div *ngIf="segment" >
                  <ion-card  *ngFor="let materia of materias " >
                      <ion-item>
                        <ion-avatar item-start>
                          <img src="{{materia.avatar}}">
                        </ion-avatar>
                        <h2><strong> {{materia.Nombre}}</strong></h2>
                     
                      </ion-item>
                    
                      <img src="{{materia.poster}}">
                    
                      <ion-card-content>
                        <p>{{materia.descripcion}}.</p>
                      </ion-card-content>
                    
                      <ion-row>
                        <ion-col>
                          <button ion-button icon-start clear small>
                            <ion-icon name="school"></ion-icon>
                            <div>10 Estudiantes</div>
                          </button>
                        </ion-col>   
                        <ion-col>
                            <button ion-button icon-start clear small>
                              <ion-icon name="book"></ion-icon>
                              <div>{{materia.Grupo}}</div>
                            </button>
                          </ion-col>    
                      </ion-row>      
                    </ion-card>
              </div>    
  </ion-content>
